<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title></title>
	<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>
<body>
	<div ng-app="" ng-controller="controller">
	  <form novalidate>
	First Name:<input type="text" ng-model="user.firstname"><br>
		Last Name:<input type="text" ng-model="user.lastname"><br>
	<button ng-click="reset()">RESET</button>
	
	</form>
	<p>form={{user}}</p>
	
	</div>
	<script>
	function controller($scope){
	 $scope.master = {firstname:"John", lastname:"Doe"};
	
	
	 $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
    };
	  $scope.reset();
	}
	
	
	
	</script>
</body>
</html>